
           .green-text
           {
               color:green;
               font-family: "Arial";
           }
           .red-text
           {
               color:ff0000;
           }
           #uiqueItem
           {
               padding: 40px;
               margin: 40px; 
               background-color:black;
               color:white;
               width: 400px;
               height: 700px;
               background: url("https://ichef.bbci.co.uk/news/660/cpsprodpb/2F39/production/_103498021_gettyimages-475636556.jpg");
               background-size: contain;
              
           }
           .with-image
           {
               background: url("https://ichef.bbci.co.uk/news/660/cpsprodpb/2F39/production/_103498021_gettyimages-475636556.jpg");
           }

